.NavBar {
  padding: 3vh;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  background-color: #555555;
  /* background: linear-gradient(to left, rgb(0, 0, 0, 1), rgb(0, 0, 0, 0.8));
   */
}
