.LandingPage {
<<<<<<< HEAD
  height: 87vh;
  width: 100vw;
  background-color: rgb(156, 197, 245, 0.5);
  display:flex;
  justify-content: center;
}

.PersonalDescription{
  margin-top: 10vh;
=======
  background-color: rgba(63, 84, 201, 0.534);
  display: flex;
  align-items: center;
}

.PersonalDescription {
  padding-top: 10%;
  height: 90vh;
  display: flex;
  justify-content: center;
>>>>>>> 446a3a0b39484fa2747813cca8fe7095aa489e44
}
